set editing-mode vi
set keymap vi-command
# Vim style history search
"\C-k": history-search-backward
"\C-j": history-search-forward

set keymap vi-insert
"jj": "\e"

set keymap vi-command
"v":redraw-current-line
